@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

body{
  padding:0;
  margin:0;
    background-color: #B4E1FF;
    background-image: url('http://www.color-hex.com/palettes/2922.png');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 54px);
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    z-index: 10;

}
.blocks{
  position:absolute;
  top:0;
  left:0;
}
.block {
  z-index: -1;
  position:relative;
  width: 10vw;
  height: 0;
  float:left;
  margin: 0;
  padding: 0;
}

#block1 {
  background: #cc0000;
  animation: drop-in 2s forwards;
}

#block2 {
  background: #ff0000;
  animation: drop-in 1s forwards;
}

#block3 {
  background: #ff0066;
  animation: drop-in 1.5s forwards;
}

#block4 {
  background: #ff5050;
  animation: drop-in 0.5s forwards;
}

#block5 {
  background: #ff6600;
  animation: drop-in 1.8s forwards;
}

#block6 {
  background: #ff9933;
  animation: drop-in 1s forwards;
}

#block7 {
  background: #ffcc66;
  animation: drop-in 2s forwards;
}

#block8 {
  background: #ffff99;
  animation: drop-in 1s forwards;
}

#block9 {
  background: #cc99ff;
  animation: drop-in 1.2s forwards;
}

#block10 {
  background: #cc66ff;
  animation: drop-in .8s forwards;
}

#content{
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: 'Dancing Script', sans-serif;
  font-size: 200px;
  color: #ffffff;
  animation: appear 3.5s;
}

@keyframes drop-in {
  0% {
    height: 0px
  }
  100% {
    height: 100vh
  }
}

@keyframes appear{
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}

body,html {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI';
}
form {
  width: 40%;
  margin-left: 30%;
  padding-top: 10%;
}
input {
  width: 100%;
  background: transparent;
  border-bottom: solid 1px #7053c4;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.3em;
  padding: 0.5em 0.4em;
  transition: all 0.4s;
}
input:focus {
  background: #7035c4;
  transform: scale3d(1.06,1.06,1.06);
}
button {
  background: transparent;
  width: 50%;
  margin-top: 2em;
  font-size: 1.3em;
  border: solid 1px #7053c4;
  padding: 1em 0;
  color: #bdc3c7;
  transition: all 0.6s;
}
button:hover {
  cursor:pointer;
  background: #7035c4;
}
h1 {
  color: #bdc3c7;
  border-bottom: solid 1px #7035c4;
  padding: 0 0 0.8em 0;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 1em;
}
@media (max-width: 550px) {
  form {
  width: 90%;
  margin-left: 3%;
  padding-top: 5%;
}
  input {
    font-size: 1em;
  }
}

h6 {
  width:10%;
  height:10%;
}

.navbar, .dropdown-menu{
background:lightblue;
border: 1px;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}
form {
	margin:10% auto 0 auto;
	padding:30px;
	width:400px;
	height:auto;
	overflow:hidden;
	border-radius:10px;
}


form label {
	font-size:14px;
	cursor:pointer;
}
form input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

form input[type=text]:focus,
form input[type="password"]:focus {
	border-color:cornflowerblue;
}

input[type=submit] {
	padding:15px 50px;
	width:auto;
	background:#ED6A5A;
	border:none;
	color:#FFE8D1;
	cursor:pointer;
	display: block;
  width: 100%;
	clear:right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

input[type=submit]:hover {
	opacity:0.8;
}

input[type="submit"]:active {
	opacity:0.4;
}

img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}

.cards {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px 5px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.card {
  flex: 1 1 250px;
  margin: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius:5px;
  background-color: #BD1550;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

img {
  max-width: 100%;
  max-height: 100%;

}
.card header {
  padding: 10px;
  background-color: #0084AD;
    color: #fff;
    background-color: #490A3D;
    margin: 0;
    padding: 10px;
    border-radius:5px;
}

.card header h2 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border-radius:5px;
}

.card .body {
  font-size: 1.2rem;
  border-radius:5px;
  background-color: #BD1550;
  color: #fff;
  flex: 1 1 200px;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1543 {
  background-color: #fff;
  color: #ffffff;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px 5px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #b81212;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 p {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}


/* Demo purposes only */

body {
  text-align: center;
}
body {
  cursor:crosshair;
  margin:0;
}
#header {
  width:100%;
  height:100%;
  background-color:#141414;
  text-align:center;
  position:fixed;
}
#links {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:100;
  letter-spacing:5px;
  width:100%;
  min-width:800px;
  margin-top:30px;
}
a {
  color:white;
  text-decoration:none;
  transition:2s;
}
a:nth-child(1) {
  margin-right:15%;
}
a:nth-child(2) {
  margin-right:15%;
}
a:nth-child(3) {
  margin-right:15%;
}
a:hover {
  letter-spacing:10px;
  transition:.4s;
}
#section_1 {
  width:100%;
  height:500px;
  text-align:center;
  display:table;
}
#name_box {
  margin-top:180px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:300;
  font-size:72px;
  letter-spacing:15px;
  color: transparent;
  background-image: url(http://www.matalausa.com/images/categories/C40.jpg);
  -webkit-background-clip: text;
}
#name {
  width:700px;
  margin:auto;
  padding:30px;
}
#name:hover {
  background-image:url(http://i95.photobucket.com/albums/l148/derickson091/b866d108-6022-4673-9eba-a22f9c8febc6_zps1bbfe188.png?t=1400692946);
  color:#0f0f0f;
}
@media all and (max-width: 699px) {
  #name_box {
    font-size:48px;
  }
  #name {
    width:400px;
  }
}

blockquote {
  padding: 50px;
  background: #444;
  box-shadow: 4px 4px 0 #000;
  color: white;
  position: relative;
}

blockquote p {
  font-size: 1.2em;
  font-style: italic;
  line-height: 150%;
}

blockquote .credit {
  font-size: 1em;
  text-align: right;
}

blockquote:after {
   content: "";
   display: block;
   position: absolute;
   bottom: -15px;
   right: 50px;
   width: 0;
   border-width: 15px 15px 0;
  height: 0;
}

blockquote:after {
	right: 40px;
	bottom: -40px;
	border: 20px solid;
	border-color: #444 #444 transparent transparent;
  box-shadow: 4px 0px 0 #000;
}
