<div id="section_1">
  <div id="name_box">
    <div id="name">MY CITY DAYS</div>
  </div>
</div>

<br>
<hr>
<h2><strong>MEET THE TEAM</strong></h2>
<hr>
<figure class="snip1543">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample108.jpg" alt="sample108" />
  <figcaption>
    <h3>Curtis Osano</h3>
    <p></p>
  </figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1543">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample108.jpg" alt="sample108" />
  <figcaption>
    <h3>Daniel Young</h3>
    <p></p>
  </figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1543"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" />
  <figcaption>
    <h3>Jordan Meanwell</h3>
    <p></p>
  </figcaption>
  <a href="#"></a>
</figure>

<hr>
<h2>Follow Us</h2>
<hr>
