<section class="row">
  <form ng-submit="articlesEdit.update()">
    <div class="twelve columns">
      <label>Text</label>
      <input type="text" name="category" placeholder="Category" ng-model="articlesEdit.article.text" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Image</label>
      <input type="text" name="posterImage" placeholder="Poster Image" ng-model="articlesEdit.article.posterImage" class="u-full-width">
    </div>
    <button >Update</button>
  </form>
</section>
