<article ng-repeat="deal in dealsIndex.all" a ui-sref ="dealsShow({ id: deal._id })">
  <div class="article-header">
    <div class="inner">
      <h2>{{ deal.title }}</h2>
      <img src="{{ deal.posterImage }}" />
      </a>
    </div>
  </div>
  <div class="article-body">
    <h2 class="article-title">{{ deal.title }}</h2>
    <a href="#">
      <p>{{ deal.category }}</p>
      <p>{{ deal.brand }}</p>
      <p>{{ deal.expiryDate | date: 'd MMM yyyy' }}</p></p>
    </a>
    <span>go &rarr;</span>
  </div>
</article>
