<!-- <div class="infobox">
  <hr>
<h2><strong>MY CITY DAYS</strong></h2>
<hr>
<h3>Exclusive Discounts for Young Professionals
  <br>
Over 1,000 discounts across London’s
Restaurants, cafes, bars, pop up’s and shops.
</h3>
 <br>
 <br>
 <button type="button" class="btn btn-default" ng-if="!main.isLoggedIn()"><a ui-sref="register"> Sign Up</a></button>
 <button type="button" class="btn btn-default" ng-if="!main.isLoggedIn()"><a ui-sref="login">Login</a></button>
</div> -->


<main>
  <div class="hero">
    <h1>MY CITY DAYS</h1>
    <p>Over 1,000 discounts across London’s
    Restaurants, cafes, bars, pop up’s and shops.</p>
    <img src="http://40.media.tumblr.com/f2916759544c106d91c28a9e0fd2cb94/tumblr_n7qhrzxUiv1sfie3io1_1280.jpg" />
     <div class="bar">
   </div>
     <button type="button" class="btn btn-default" ng-if="!main.isLoggedIn()"><a ui-sref="register"> Sign Up</a></button>
     <button type="button" class="btn btn-default" ng-if="!main.isLoggedIn()"><a ui-sref="login">Login</a></button>
  </div>
</main
